@import './variables.scss';

.pageContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;

    @media (min-width: 1200px) {
        flex-direction: row;
        max-height: 100vh;
    }

    .container {
        padding: 10rem 0 0;
    }

    .left {
        position: relative;
        height: min-content;

        @media (min-width: 1200px) {
            width: 50%;
            overflow: hidden;
            height: 100vh;
        }

        .revealer {
            background: $purple;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            @media (min-width: 1200px) {
                position: fixed;
                height: 100vh;
            }
        }

        .leftContentWrapper {
            padding: 1rem 2rem;
            position: relative;
            z-index: 3;

            @media (min-width: 768px) {
                max-width: 80%;
                margin: 0 auto;
            }

            @media (min-width: 1600px) {
                max-width: 60%;
                margin: 0 auto;
            }

            .title {
                font-size: 2.6rem;
                text-transform: uppercase;
                font-weight: 800;
                color: $white;
                margin-bottom: 2rem;

                @media (min-width: 768px) {
                    font-size: 4.6rem;
                    margin-bottom: 5rem;
                }

               
            }
    
            .subheading {
                color: $white;
                font-weight: 300;
                margin-bottom: 3rem;
                font-size: 1.1rem;

                @media (min-width: 768px) {
                    font-size: 1.3rem;
                }
            }
            
            .highlight {
                background: linear-gradient(180deg, rgba(255,255,255,0.9) 65%, $white 65%);
                color: $purple;
                font-weight: bold;
                padding: 0 0.1rem;
            }
        }
    }

    .right {
        padding-top: 4rem;

        @media (min-width: 768px) {
            padding-top: auto;
        }

        @media (min-width: 1200px) {
            overflow: auto;
            padding-top: 10rem;
            width: 50%;
        }


        .rightContentWrapper {
            max-width: 80%;
            margin: 0 auto;

            .cardContainer {
                display: grid;
                grid-template-columns: 1fr;
                gap: 4rem;

                @media (min-width: 768px) {
                    grid-template-columns: 1fr 1fr;
                    gap: 4rem;
                }

                .card {
                    z-index: -1;
    
                    h2 {
                        margin-bottom: 1rem;
                        color: $darkGrey;
                    }
    
                    p {
                        color: $lightGrey;
                        line-height: 1.4rem;

                        @media (min-width: 1200px) {
                            font-size: .8rem;
                            line-height: 1.2rem;
                        }
                    }
    
                    .list {
                        margin-top: 1rem;
                        opacity: 0.8;
                        color: $lightGrey;
                    }
                }
            }

            .imageContainer {
                display: flex;
                justify-content: center;
                margin: 1rem 0 5rem;

                img {
                    max-width: 80%;
                    
                }

            }

            .testimonials {
                margin-top: 6rem;

                h2 {
                    max-width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    font-size: 1.2rem;
                    color: $lightGrey;

                    @media (min-width: 768px) {
                        max-width: 80%;
                    }
                }

                .brandContainer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
                    margin-top: 2rem;
                    margin-bottom: 3rem;

                    @media (min-width: 768px) {
                        grid-template-columns: repeat(4, 1fr);
                        gap: 2rem;
                    }
    
                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            max-width: 100%;
                        }
                    }
                }
            }


        }
    }
}