@import './variables.scss';

.pageContainer {
    width: 100vw;
    height: 100vh;
    background-color: $purple;
    display: flex;
    align-items: center;
    justify-content: center;

    .contentWrapper {
        max-width: 60%;
        text-align: center;
        color: $white;

        h1 {
            font-weight: 600;
            letter-spacing: .1rem;
            margin-bottom: 2rem;
            font-size: clamp(2rem, 4vw, 3.4rem);

        }

        p {
            opacity: 0.8;
            font-size: 1.2rem;
        }

        .contactButtons {
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 3rem;

            a {
                outline: none;
                border: none;
                background-color: $pink;
                color: darken($pink, 50%);
                border-radius: 20px;
                display: inline-flex;
                line-height: 1.3rem;
                justify-content: space-evenly;
                padding: 1em 1em;
                min-width: 20ch;
                min-height: 44px;
                margin: 0 .4rem;

                p {
                    font-weight: bold;
                    font-size: .8rem;
                    font-family: JetBrains Mono;
                }

                svg {
                    max-width: 20px;
                }
            }
        }
    }
}