.profileContainer {
    display: flex;
    flex-direction: column;
    
    .profileImage {
        border-radius: 0rem;
        max-width: 16rem;
    }

    .nameAndTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid red;
        text-align: center;

        .profileName {
            text-align: center;
            font-weight: 600;
            font-size: .8rem;
        }
    
        .profileJob {
            text-align: center;
            font-size: 0.6rem;
            opacity: 0.7;
        }
    }



}